<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dev Burguer</title>
</head>
<body>
    <!-- Header principal -->
   
<header id="all">
    <div class="header-content">
        <div class="logo-container">
            <div class="logo-badge">DB</div>
            <h1 class="custom-text">Dev Burguer</h1>
        </div>
        <span class="custom-span">Rua Humberto Nobrega 32, Santa Rita - PB</span>
        <div id="date-span">
            <span>Seg á Dom - 18:00 as 22:00</span>
            <!-- Botão de informação sem bordas visíveis -->
            <div class="info-icon" onclick="openModal()">
                <i class="fas fa-info-circle"></i>
            </div>
        </div>
    </div>
</header>

<!-- Modal de Informações -->
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2 class="modal-title">Sua Hamburgueria</h2>
        
        <div class="tab-buttons">
            <button class="tab-button active" onclick="openTab('sobre')">Sobre</button>
            <button class="tab-button" onclick="openTab('horario')">Horário</button>
            <button class="tab-button" onclick="openTab('pagamento')">Pagamento</button>
        </div>
        
        <div id="sobre" class="tab-content active">
            <p>Aqui você terá a melhor experiência para o seu paladar.</p>
            <div style="margin-top: 20px;">
                <i class="fab fa-instagram"></i> @suahamburgueria
            </div>
            
            <div style="margin-top: 20px;">
                <h3>Contato</h3>
                <div style="display: flex; gap: 10px; margin-top: 10px; flex-wrap: wrap;">
                    <div style="border: 1px solid #000; padding: 10px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fab fa-whatsapp" style="margin-right: 10px;"></i> (00) 00000-0000
                    </div>
                    <div style="border: 1px solid #000; padding: 10px; border-radius: 5px; display: flex; align-items: center;">
                        <i class="fas fa-phone" style="margin-right: 10px;"></i> (00) 00000-0000
                    </div>
                </div>
            </div>
        </div>
        
        <div id="horario" class="tab-content">
            <table class="hours-table">
                <tr>
                    <td>Segunda</td>
                    <td>Fechado</td>
                </tr>
                <tr>
                    <td>Terça</td>
                    <td>18:00 às 23:00</td>
                </tr>
                <tr>
                    <td>Quarta</td>
                    <td>18:00 às 23:00</td>
                </tr>
                <tr>
                    <td>Quinta</td>
                    <td>18:00 às 23:00</td>
                </tr>
                <tr>
                    <td>Sexta</td>
                    <td>18:00 às 23:00</td>
                </tr>
                <tr>
                    <td>Sábado</td>
                    <td>18:00 às 23:00</td>
                </tr>
                <tr>
                    <td>Domingo</td>
                    <td>18:00 às 23:00</td>
                </tr>
            </table>
        </div>
        
        <div id="pagamento" class="tab-content">
            <div class="payment-option">
                <div class="payment-icon">
                    <i class="fas fa-money-bill"></i>
                </div>
                Dinheiro
            </div>
            <div class="payment-option">
                <div class="payment-icon">
                    <i class="fas fa-qrcode"></i>
                </div>
                Pix
            </div>
            <div class="payment-option">
                <div class="payment-icon">
                    <i class="far fa-credit-card"></i>
                </div>
                Cartão de crédito
            </div>
            <div class="payment-option">
                <div class="payment-icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                Cartão de débito
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </header>
    <!-- Fixed Navbar, hidden by default -->
    <nav id="fixed-navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <div style="background: linear-gradient(135deg, var(--primary-color), var(--secondary-color)); width: 35px; height: 35px; border-radius: 12px; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; margin-right: 12px;">DB</div>
                <span class="navbar-name">Dev Burguer</span>
            </div>
            <div class="navbar-center">
                <div class="filter-container">
                    <button onclick="window.location.href='#bebida'" class="filter-btn">
                        <i class="fas fa-glass-martini-alt"></i> Bebidas
                    </button>
                    <button onclick="window.location.href='#hamburguer'" class="filter-btn">
                        <i class="fas fa-hamburger"></i> Xburguers
                    </button>
                    <button onclick="window.location.href='#pizza'" class="filter-btn">
                        <i class="fas fa-pizza-slice"></i> Pizza
                    </button>
                    <button onclick="window.location.href='#hamburguer'" class="filter-btn">
                        <i class="fas fa-utensils"></i> Combos
                    </button>
                </div>
            </div>
            <div class="navbar-right">
                <button id="menu-hamburguer-btn" class="menu-hamburguer">
                    <i class="fas fa-bars"></i>
                </button>
                <div id="mini-navbar" class="mini-navbar">
                    <nav class="mini-nav">
                        <a href="#all" title="Home"><span class="iconify" data-icon="line-md:home"></span> Home</a>
                        <a href="#" title="Buscar"><span class="iconify" data-icon="material-symbols:search-rounded"></span> Buscar</a>
                        <a href="carrinho.html" id="btn-carrinho" title="Carrinho"><span class="iconify" data-icon="ic:round-shopping-cart"></span> Carrinho</a>
                        <a href="perfil.html" title="Perfil"> <span class="iconify" data-icon="line-md:account"></span> Perfil</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
    <!-- Promoções Section -->
    <div class="promo-section">
        <h2>Promoções</h2>
        <div class="promo-container">
            <div class="promo-slider" id="promoSlider">
                <div class="promo-item">
                    <img src="/public/imagens/combos.png" alt="Combo Família" class="promo-image" />
                    <div class="promo-content">
                        <div class="promo-title">Combo Família</div>
                        <div class="promo-desc">4 Burguers + 4 Bebidas + 2 Batatas grandes</div>
                        <div class="promo-price">
                            <span class="old-price">R$ 89,90</span>
                            <span class="new-price">R$ 69,90</span>
                        </div>
                    </div>
                </div>
                <div class="promo-item">
                    <img src="/public/imagens/heineken.webp" alt="Terça Developer" class="promo-image" />
                    <div class="promo-content">
                        <div class="promo-title">Terça Developer</div>
                        <div class="promo-desc">Compre 1 Xburguer e ganhe outro por apenas R$ 0,99</div>
                        <div class="promo-price">
                            <span class="new-price">A partir de R$ 20,89</span>
                        </div>
                    </div>
                </div>
                <div class="promo-item">
                    <img src="/public/imagens/hamb-4.png" alt="Happy Hour" class="promo-image" />
                    <div class="promo-content">
                        <div class="promo-title">Happy Hour</div>
                        <div class="promo-desc">De Segunda à Sexta das 16h às 19h - Chopp em dobro</div>
                        <div class="promo-price">
                            <span class="new-price">2 por R$ 12,90</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo-dots">
            <div class="promo-dot active" data-index="0"></div>
            <div class="promo-dot" data-index="1"></div>
            <div class="promo-dot" data-index="2"></div>
        </div>
    </div>

    <!-- Category selector pills -->
    <div class="categories">
        <div class="category active">Todos</div>
        <div class="category">Bebidas</div>
        <div class="category">hamburguers</div>
        <div class="category">Pizza</div>
        <div class="category">Mais pedidos</div>
        <div class="category">Novidades</div>
    </div>

    
    <div id=" menu-container">
        <main id="hamburguer" class="main-grid">
            <!-- Produto item 1 -->
            <div class="product-container" data-id="1">
                <div>
                    <img src="/public/imagens/Xburguer_Smash.png" alt="xburguer smash" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Xburguer Smash</p>
                    <p class="text-sm">
                        Pão Levinho de Fermentação natural da Trigo, burger 160g, queijo prato e maionese da casa.
                    </p>
                    <div class="product">
                        <p>R$ 18,90</p>
                        <button class="btn-cart" data-name="Xburguer_Smash" data-price="25.00">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                        
                    </div>
                </div>
            </div>
            <!-- Produto item 2 -->
            <div class="product-container" data-id="2">
                <div>
                    <img src="/public/imagens/Xburguer_duplo.png" alt="xburguer duplo" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Xburguer duplo</p>
                    <p class="text-sm">
                        Dois burgers suculentos de 160g, queijo prato derretido e maionese especial, 
                    </p>
                    <div class="product">
                        <p>R$ 24,90</p>
                        <button class="btn-cart" data-price="24.90" data-name="xburguer duplo">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Produto item 3 -->
            <div class="product-container" data-id="3">
                <div>
                    <img src="/public/imagens/hamb-4.png" alt="xburguer salad" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Xburguer salad</p>
                    <p class="text-sm">
                        Dois burgers suculentos de 160g, queijo prato derretido e maionese especial,
                    <div class="product">
                        <p>R$ 19,90</p>
                        <button class="btn-cart" data-price="19.90" data-name="xburguer salad">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Produto item 4 -->
            <div class="product-container" data-id="4">
                <div>
                    <img src="/public/imagens/hamb-7.png" alt="xburguer double bacon" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Xburguer double bacon</p>
                    <p class="text-sm">
                        Dois burgers suculentos de 160g, queijo prato derretido e maionese especial
                    </p>
                    <div class="product">
                        <p>R$ 24,90</p>
                        <button class="btn-cart" data-price="24.90" data-name="xburguer double bacon">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    
        <div class="beverages-container" id="bebida">
            <h2>Bebidas</h2>
        </div>
        <div class="bebidas-grid">
            <!-- Bebida item 7 -->
            <div class="bebida-item" data-id="7">
                <div>
                    <img src="/public/imagens/refri-1.png" alt="Coca Lata" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Coca Lata</p>
                    <div class="product">
                        <p>R$ 6,00</p>
                        <button class="btn-cart" data-price="6.00" data-name="Coca Lata">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Bebida item 8 -->
            <div class="bebida-item" data-id="8">
                <div>
                    <img src="/public/imagens/refri-2.png" alt="Guarana Lata" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Guarana Lata</p>
                    <div class="product">
                        <p>R$ 6,00</p>
                        <button class="btn-cart" data-price="6.00" data-name="Guarana Lata">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Bebida item 9 -->
            <div class="bebida-item" data-id="9">
                <div>
                    <img src="/public/imagens/milk.jpg" alt="Milk shake" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Milk shake</p>
                    <div class="product">
                        <p>R$ 8,00</p>
                        <button class="btn-cart" data-price="8.00" data-name="milk shake">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Bebida item 10 -->
            <div class="bebida-item" data-id="10">
                <div>
                    <img src="/public/imagens/sucos.jpg" alt="Sucos" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">1 Copo de Suco</p>
                    <div class="product">
                        <p>R$ 5,00</p>
                        <button class="btn-cart" data-price="5.00" data-name="sucos">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        
    
            <!-- Bebida item 10 -->
            <div class="bebida-item" data-id="11">
                <div>
                    <img src="/public/imagens/refrigerante_2l.png" alt="refri-2l" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">Refrigerante 2L</p>
                    <div class="product">
                        <p>R$ 9,00</p>
                        <button class="btn-cart" data-price="9.00" data-name="refri-2l">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        
    
            <!-- Bebida item 12 -->
            <div class="bebida-item" data-id="12">
                <div>
                    <img src="/public/imagens/heineken.webp" alt="Sucos" class="custom-product">
                </div>
                <div class="product-info">
                    <p class="font-bold">heineken</p>
                    <div class="product">
                        <p>R$ 5,00</p>
                        <button class="btn-cart" data-price="5.00" data-name="sucos">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- Seção de Pizzas (corrigida) -->
<div id="pizza" class="pizza-container">
    <h2>Pizzas</h2>
    <div class="main-grid">
        <!-- Pizza item 1 -->
        <div class="product-container" data-id="11">
            <div>
                <img src="/public/imagens/pizza-1.png" class="custom-product" alt="Pizza Exemplo">
            </div>
            <div class="product-info">
                <p class="font-bold">Pizza-1</p>
                <div class="product">
                    <p>R$ 25,00</p>
                    <button class="btn-cart" data-price="25.00" data-name="Pizza Exemplo">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Pizza item 2 -->
        <div class="product-container" data-id="12">
            <div>
                <img src="/public/imagens/pizza-4.jpg" class="custom-product" alt="Pizza Exemplo">
            </div>
            <div class="product-info">
                <p class="font-bold">Pizza-2</p>
                <div class="product">
                    <p>R$ 25,00</p>
                    <button class="btn-cart" data-price="25.00" data-name="Pizza Exemplo">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                    
                </div>
            </div>
        </div>
        <!-- Pizza item 3 -->
        <div class="product-container" data-id="13">
            <div>
                <img src="/public/imagens/pizza-4.jpg" class="custom-product" alt="Pizza Exemplo">
            </div>
            <div class="product-info">
                <p class="font-bold">Pizza-3</p>
                <div class="product">
                    <p>R$ 25,00</p>
                    <button class="btn-cart" data-price="25.00" data-name="Pizza Exemplo">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Pizza item 4 -->
        <div class="product-container" data-id="14">
            <div>
                <img src="/public/imagens/pizza-3.jpg" class="custom-product" alt="Pizza Exemplo">
            </div>
            <div class="product-info">
                <p class="font-bold">Pizza-4</p>
                <div class="product">
                    <p>R$ 25,00</p>
                    <button class="btn-cart" data-price="25.00" data-name="Pizza Exemplo">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Pizza item 5 -->
        <div class="product-container" data-id="15">
            <div>
                <img src="/public/imagens/pizza-1.png" class="custom-product" alt="Pizza Exemplo">
            </div>
            <div class="product-info">
                <p class="font-bold">Pizza-5</p>
                <div class="product">
                    <p>R$ 25,00</p>
                    <button class="btn-cart" data-price="25.00" data-name="Pizza Exemplo">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Pizza item 6 -->
        <div class="product-container" data-id="16">
            <div>
                <img src="/public/imagens/pizza-1.png" class="custom-product" alt="Pizza Exemplo">
            </div>
            <div class="product-info">
                <p class="font-bold">Pizza-6</p>
                <div class="product">
                    <p>R$ 25,00</p>
                    <button class="btn-cart" data-price="25.00" data-name="Pizza Exemplo">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!-- Responsive Toolbar para telas menores -->
    <nav class="responsive-toolbar">
        <a href="#all" title="Home">
            <span class="iconify" data-icon="line-md:home"></span>
            <span class="icon-label">Home</span>
        </a>
        <a href="#" title="Buscar">
            <span class="iconify" data-icon="material-symbols:search-rounded"></span>
            <span class="icon-label">Buscar</span>
        </a>
        <a href="carrinho.html" id="btn-carrinho" title="Carrinho">
            <span class="iconify" data-icon="ep:goods"></span>

            <span class="icon-label">Carrinho</span>
        </a>
        <a href="perfil.html" id="btn-carrinho" title="Conta">
            <span class="iconify" data-icon="line-md:account"></span>
            <span class="icon-label">Conta</span>
        </a>
    </nav>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js"></script>
    <script src="/public/js/script.js"></script>

   
</body>
</html>